* {
    margin: 0;
}

header, nav, article, aside {
    padding: 25px;
    margin: 0;
}

.header {
    background-color: rgb(0, 34, 255);
    width: 95%;
    /* margin-left: 25%; */
} 

.nav {
    background-color: rgb(255, 0, 0);
    width: 21%;
    height: 96vh;
    margin-top: 0;
}

.content {
    display: table-row;
    /* height: 80vh; */
    width: 100%;

}

.article {
    background-color: rgb(0, 255, 13);
    width: 50%;
    height: 82vh;
}

.aside {
    background-color: brown;
    width: 50%;
    height: 82vh;
}

.footer {
    background-color: rgb(255, 136, 8);
    width: 100%;
    /* margin-left: 25%; */
    /* height: 20vh; */
}

.flex {
    display: flex;
}